<%- include("../header") %>
<body>
  <div class="reports_container">
    <div class="reports_sidebar"><%- include("./reports_sidebar") %></div>

    <div class="reports_content">
      <form action="./buyin_report" method="post">
        <div>
          <% if (status === 'success') { %>
          <h4>Buyin report submitted successfully!</h4>
          <% } %>
        </div>

        <div class="form-row">
          <div class="form-col">
            <label for="vin">VIN</label>
            <input type="text" name="vin" id="vin" />
          </div>
          <div class="form-col">
            <label for="fuel_type">Fuel Type</label>
            <input type="text" name="fuel_type" id="fuel_type" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-col">
            <label for="make">Make</label>
            <input type="text" name="make" id="make" />
          </div>
          <div class="form-col">
            <label for="model">Model</label>
            <input type="text" name="model" id="model" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-col">
            <label for="year">Year</label>
            <input type="number" name="year" id="year" />
          </div>
          <div class="form-col">
            <label for="mileage">Mileage</label>
            <input type="number" name="mileage" id="mileage" />
          </div>
        </div>
        <div class="form-row">
          <label for="buyin_date">Buyin Date</label>
          <input type="datetime-local" name="buyin_date" id="buyin_date" />
        </div>
        <div class="form-row">
          <label for="buyin_price">Buyin Price</label>
          <input type="number" name="buyin_price" id="buyin_price" />
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
