<%- include("../header") %>
<body>
  <div class="reports_container">
    <div class="reports_sidebar"><%- include("./reports_sidebar") %></div>

    <div class="reports_content">
      <form action="./reconditioning_report" method="post">
        <div>
          <% if (status === 'success') { %>
          <h4>Reconditioning report submitted successfully!</h4>
          <% } %>
        </div>

        <div>
          <label for="vin">VIN</label>
          <input type="text" name="vin" id="vin" />
        </div>
        <div>
          <label for="make">Make</label>
          <input type="text" name="make" id="make" />
        </div>
        <div>
          <label for="model">Model</label>
          <input type="text" name="model" id="model" />
        </div>
        <div>
          <label for="year">Year</label>
          <input type="number" name="year" id="year" />
        </div>
        <div>
          <label for="mileage">Mileage</label>
          <input type="number" name="mileage" id="mileage" />
        </div>
        <div>
          <label for="reconditioning_cost">Reconditioning Cost</label>
          <input
            type="number"
            name="reconditioning_cost"
            id="reconditioning_cost"
          />
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
