<body>
  <div class="reports_sidebar_contents">
    <ul>
      <li><a href="/reports/buyin_report">Buyin Report</a></li>
      <li><a href="/reports/sale_report">Sale Report</a></li>
      <li>
        <a href="/reports/reconditioning_report">Reconditioning Report</a>
      </li>
    </ul>
  </div>
</body>
