<body>
  <div class="reports_sidebar_contents">
    <ul>
      <li><a href="./buyin_report.ejs">Buyin Report</a></li>
      <li><a href="./sale_report.ejs">Sale Report</a></li>
      <li><a href="./reconditioning_report.ejs">Reconditioning Report</a></li>
    </ul>
  </div>
</body>
