<%- include("../header") %>
<body>
  <div class="reports_container">
    <div class="reports_sidebar"><%- include("./reports_sidebar") %></div>

    <div class="reports_content">
      <form action="./sale_report" method="post">
        <div>
          <label for="vin">VIN</label>
          <input type="text" name="vin" id="vin" />
        </div>
        <div>
          <label for="make">Make</label>
          <input type="text" name="make" id="make" />
        </div>
        <div>
          <label for="model">Model</label>
          <input type="text" name="model" id="model" />
        </div>
        <div>
          <label for="year">Year</label>
          <input type="number" name="year" id="year" />
        </div>
        <div>
          <label for="mileage">Mileage</label>
          <input type="number" name="mileage" id="mileage" />
        </div>
        <div>
          <label for="sale_date">Sale Date</label>
          <input type="datetime-local" name="sale_date" id="sale_date" />
        </div>
        <div>
          <label for="sale_price">Sale Price</label>
          <input type="number" name="sale_price" id="sale_price" />
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
