<%- include("./header.ejs") %>
<body>
  <form action="/buyin_report" method="post">
    <div>
      <label for="">VIN</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Make</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Model</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Year</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Mileage</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Fuel type</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Buyin Date</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Buyin Price</label>
      <input type="text" />
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
