<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>CAC Sales System</title>

    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>

    <script>
      const firebaseConfig = {
        apiKey: "<%= firebaseApiKey %>",
        authDomain: "auto-group-in-house-software.firebaseapp.com",
        projectId: "auto-group-in-house-software",
        storageBucket: "auto-group-in-house-software.appspot.com",
        messagingSenderId: "470961451926",
        appId: "1:470961451926:web:f5a2f70c92c5d9842d63b7",
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
    <h1>CAC Sales System</h1>
    <% if (!loggedIn) { %>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
    <% } else { %>
    <p class="welcome-message">Welcome, <%= full_name %></p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/orders">Sale Orders</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/reports/buyin_report">Report</a></li>
      <li><a href="/profile">Profile</a></li>
      <% if (employee_type === "Admin") {%>
      <li><a href="/employees">Employees</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <% } %>
  </body>
</html>
